<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	ERROR
	<div th:if="${motivoError != null}" th:text="'Motivo error: ' + ${motivoError}">
	<div th:text="'Motivo error: ' + ${motivoError}">
</body>
</html>